::placeholder{
    text-align: center;
    font-size: 14px;
    color: gray;
    background-position: 40%;
    background-size: 6%;
    background-image :url(https://img1.pngindir.com/20180625/cxl/kisspng-computer-icons-search-icon-5b30c8ad36d571.3385379615299237572246.jpg); 
    background-repeat: no-repeat;
    
  }

  
  
  input.empty {
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
      background-color: #FAFAFA;
  }
  
  .postuserfont {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: black;
  }
  
  
  .storyphoto {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid rgb(238, 39, 82);
    margin-right: 7px;
  }
  
  .storytext {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    color: black;
    
  }
  
  .rightpanellinks {
    text-decoration: none;
    color: lightgrey;
  }
  
  .rightpanellinks:hover {
    text-decoration: none;
    color: lightgrey;
  }

  .ustmenu{
	position:fixed; top:0px; left:0px; right:0px; 
    height:70px; background:rgb(218, 213, 213);
}


.fixedmenu{
    position: fixed;
    width: 1000px;
    z-index: 999;
    top: 0;
    }

    .make-me-sticky {
        
          position: sticky;
          top: 0;
          
        padding: 0 15px;
      }

      